.tag-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 90px;
  max-height: 450px;

  @media (max-width: 1023px) {
    margin-top: 0;
    margin: 0px 5px;
  }

  @media (width: 1024px) {
    margin-right: 5px;
    margin-top: 90px;
  }

  .card {
    display: flex;
    gap: 12px;
    padding: 12px;
    border: 1px solid #f0f0f0;
    border-radius: 3px;
    background-color: #fff;
    align-items: stretch;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.08);
    transition: box-shadow 0.3s ease;

    .image {
      width: 120px;
      height: 75px;

      @media screen and (max-width: 768px) {
        height: 80px;
      }

      overflow: hidden;
      border-radius: 3px;
      flex-shrink: 0;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: transform 0.3s ease;
      }
    }

    &:hover {

      .image img {
        transform: scale(1.05);
      }
    }

    .content {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      flex: 1;

      h3 {
        font-size: 16px;
        color: #333;
        margin: 0 0 4px 0;
        font-weight: 600;
        display: -webkit-box;
        -webkit-line-clamp: 2;

        @media screen and (max-width : 1023px) {
          -webkit-line-clamp: 3;
        }

        -webkit-box-orient: vertical;
        overflow: hidden;
      }


      .bottom {
        display: flex;
        justify-content: space-between;
        align-items: start;
        font-size: 11px;
        color: #999;

        @media screen and (max-width: 768px) {
          margin-bottom: 3px;
        }

        .time {
          white-space: nowrap;
          margin-left: 6px;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .tag-list {
    .card {
      flex-direction: row;
      padding: 8px;
      height: 100px;

      .image img {
        width: 100%;
        height: 100%;
      }

      .content h3 {
        font-size: 14px !important;
      }
    }
  }
}