* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import "./headerMobile.scss";
@import "./home.scss";
@import "./cardMain.scss";
@import "./cardRela.scss";
@import "./cardNormal.scss";
@import "./detail.scss";
@import "./footer.scss";
@import "./newsChung.scss";
@import "./cardVideo.scss";
@import "./lienKet.scss";
@import "./global.scss";
@import "./variables.scss";
@import "./login.scss";
@import "./Contact.scss";
@import "./notFound.scss";