.lienket-container {
  max-width: 1200px;
  overflow: hidden;
  margin: 0 auto;
  position: relative;
  height: 120px;
}

.logo-track {
  display: flex;
  align-items: center;
  gap: 10px;
  animation: moveLeft 25s linear infinite;
  width: max-content;
}

.logo-link {
  display: inline-block;
  transition: transform 0.3s ease;
}

.logo-link:hover {
  transform: scale(1.05);
}

.logo-item {
  width: 200px;
  height: 100px;
  object-fit: contain;
  flex-shrink: 0;
  border-radius: 8px;
}


@keyframes moveLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
